{% extends "base.html" %}

{% block content %}
<div class="container my-5">
  {% if current_user.is_authenticated %}
  <div class="alert alert-success text-center">
      Welcome, {{ current_user.username }}! Logged in as {{ current_user.email }}
  </div>
  {% endif %}

  <section id="categories" class="my-5">
<h2 class="text-center my-5">Shop by Category</h2>
<div class="row">
<!--Men's Clothing -->
<div class="col-md-6 col-lg-4">
  <a href="{{ url_for('category', category_name = 'men')}}">
    <img src="{{ url_for('static', filename='images/men-fashion.jpg') }}" 
         class="img-fluid rounded" 
         alt="Mens">
  </a>
  <h6 class="mt-2">Mens Clothing</h6>
</div>
<!--Women's Clothing -->
<div class="col-md-6 col-lg-4">
  <a href="{{ url_for('category', category_name = 'women')}}">
    <img src="{{ url_for('static', filename='images/women-fashion.jpg') }}" 
         class="img-fluid rounded" 
         alt="Womens">
  </a>
  <h6 class="mt-2">Women's Clothing</h6>
</div>

<!--Kids -->
<div class="col-md-6 col-lg-4">
  <a href="{{ url_for('category', category_name = 'kids')}}">
  <img src="{{ url_for('static', filename='images/kids-fashion.jpg') }}"
  class="img-fluid rounded" 
  alt="--Kids">
  </a>
  <h6 class="mt-2">Kids Clothing</h6>
</div>
<!---Electronics-->
<div class="col-md-6 col-lg-4">
  <a href="{{ url_for('category', category_name = 'electronics')}}">
    <img src="{{ url_for('static', filename='images/electronics.jpg') }}" 
    class="img-fluid rounded" 
    alt="---Electronics--"></a>
  <h6 class="mt-2">Electronics</h6>
</div>
<!--Makeup-->
<div class="col-md-6 col-lg-4">
  <a href="{{ url_for('category', category_name = 'makeup')}}">
    <img src="{{ url_for('static', filename='images/makeup_2.jpg') }}"
    class="img-fluid rounded" 
    alt="Makeup"></a>
  <h6 class="mt-2">Makeup</h6>
</div>
<!--Accesories-->
<div class="col-md-6 col-lg-4">
  <a href="{{ url_for('category', category_name = 'accessories')}}">
    <img src="{{ url_for('static', filename='images/accessories.jpg') }}"
    class="img-fluid rounded" 
    alt="Accessories"></a>
  <h6 class="mt-2">Accessories</h6>
</div>
</div>
</section>
<!--Featured Section-->
<section id="--Featured" class="container my-5">
  <h2>Featured Products</h2>
  <div class="row row-cols-2 row-cols-md-4 g-4">
        <!-- Product Card -->
    <div class="col">
      <div class="card" style="width:18rem;">
        <img src="{{url_for('static',filename = 'images/prod1.jpg')}}" class="card-img-top" alt="Product">
        <div class="card-body text-center">
          <h6 class="card-title"> Product Name</h6>
          <p class="text-muted">Rs 299</p> 
          <button class="btn btn-sm btn-success"> Add to Cart</button>

        </div>
      </div>
    </div>
  </div>
</section>
</div>

{% endblock %}

